body {
    margin: 0;
    padding: 0px;
    header {
        display: flex;
        height: 80px;
        // background-color: papayawhip;
        background: url(../image/test.png);
        transform: scale(1);
        &::before {
            content: "123";
        }
    }
    footer {
        height: 80px;
        background-color: seagreen;
    }
}
